{% extends 'base.html' %}
{% block title %}Privacidade e Termos de Uso{% endblock %}
{% block content %}
<style>
    .section-content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 2rem;
    }
    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #374151;
    }
    .section-content p {
        font-size: 2.5rem;
        font-weight: 400;
        color: #6b7280;
        margin-bottom: 1rem;
    }
    .section-content ul {
        font-size: 1rem;
        font-weight: 400;
        color: #6b7280;
        margin-bottom: 1rem;
    }
    .section-content li {
        font-size: 2rem;
        font-weight: 400;
        color: #6b7280;
        margin-bottom: 0.5rem;
    }
</style>
<main class="main">
    <div class="section-header">
        <span class="section-title">Privacidade e Termos de Uso</span>
    </div>
    <div class="section-content">
        <p>Ao utilizar o sistema, você concorda com os seguintes termos de uso:</p>
        <ul>
            <li>O sistema é fornecido "como está" e "conforme disponível", sem garantias de qualquer tipo.</li>
            <li>O sistema é proprietário da CJB Softwares e está protegido por direitos autorais.</li>
            <li>O sistema é fornecido sem qualquer tipo de garantia, expressa ou implícita.</li>
            <li>Ao Ultilizar o sistema, você concorda com a política de privacidade e termos de uso da CJB Softwares.</li>
            <li>A CJB Softwares se reserva o direito de alterar os termos de uso a qualquer momento, sem aviso prévio.</li>



    </div>
</main>
{% endblock %}